<div>
    <form class="uk-form-stacked" ng-submit="addTodo()">
        <fieldset class="uk-fieldset">
        <legend class="uk-legend">Create Todo</legend>

            <div class="uk-margin">
                <label class="uk-form-label" for="todoName">Name:</label>
                <div class="uk-form-controls">
                    <input ng-model="nameI" class="uk-input" id="todoName" type="text" required>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="todoDesc">Description:</label>
                <div class="uk-form-controls">
                    <textarea ng-model="descriptionI" class="uk-textarea" id="todoDesc" required></textarea>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="todoDate">Date:</label>
                <div class="uk-form-controls">
                    <div class="datepicker">
                        <input class="uk-input" ng-model="dateI" id="todoDate" type="text" placeholder="Enter end date" required/>
                    </div>
                </div>
            </div>

            <div class="uk-margin-large-top">
                 <div class="uk-form-controls submit">
                    <button type="submit" id="create" class="uk-button uk-button-primary">Create</button>
                </div>        
            </div>
        </fieldset>
    </form>
</div>

            